In [1]:
# install pandas and parquet
!pip install pandas
!pip install parquet
!pip install pyarrow

Requirement already satisfied: pandas in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: parquet in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (1.3.1)
Requirement already satisfied: thriftpy2 in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (from parquet) (0.4.17)
Requirement already satisfied: ply<4.0,>=3.4 in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (from thriftpy2->parquet) (3.11)
Requirement already satisfied: six~=1.15 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from thriftpy2->parquet) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\user\documents\projects\ocr_testing\venv\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pyarrow) (1.26.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Opis kolona:

datum_dolaska - datum kada bi gost trebao stići u hotel
datum_kreiranja_rezervacije - datum kada je rezervacija kreirana
datum_odjave - datum kada je gost napustio hotel
datum_otkazivanja_rezervacije - datum kada je rezervacija otkazana
broj_odraslih_gostiju - broj odraslih koji će boraviti u rezerviranim sobama
broj_djece_gostiju - broj djece koji će boraviti u rezerviranim sobama
zemlja_gosta - zemlja iz koje gost dolazi. Kategorije su zapisane u ISO 3155–3:2013 formatu
kanal_prodaje_id - id kanala prodaje preko kojeg je rezervacija napravljena (primjeri: direktna rezervacija, agencija, online)
tip_sobe_id - id tipa sobe koju je gost rezervirao
cijena_nocenja - cijena jednog noćenja za pojedinu rezeraciju
status_rezervacije - status rezervacije (Check-Out, Canceled, No-Show)
rezervacija_id - id rezervacije
gost_id - id gosta

In [2]:
import pandas as pd
dataset_path = './data/lumen/export_df.parquet'

In [3]:
df = pd.read_parquet(dataset_path)
df.head()

,hotel_id,datum_dolaska,datum_kreiranja_rezervacije,datum_odjave,datum_otkazivanja_rezervacije,broj_odraslih_gostiju,broj_djece_gostiju,zemlja_gosta,kanal_prodaje_id,tip_sobe_id,cijena_nocenja,status_rezervacije,rezervacija_id,gost_id
0,0,2015-07-01,2015-01-21,2015-07-01,None,2,0.0,PRT,0,0,100.000000,Check-Out,1313223,1077152
1,0,2015-07-01,2015-06-10,2015-07-01,None,2,0.0,PRT,0,0,100.000000,Check-Out,1313224,1017906
2,0,2015-07-01,2015-05-13,2015-07-02,None,1,0.0,GBR,0,1,64.991345,Check-Out,1313225,1039896
3,0,2015-07-01,2014-05-30,2015-07-02,None,1,0.0,GBR,1,1,74.368897,Check-Out,1313226,1008245
4,0,2015-07-01,2014-07-06,2015-07-03,None,2,0.0,GBR,2,1,130.973278,Check-Out,1313227,1093703

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
dtypes: datetime64[ns](3), float64(2), int32(5), int64(1), object(3)
memory usage: 10.5+ MB

In [5]:
df.describe()

,hotel_id,datum_dolaska,datum_kreiranja_rezervacije,datum_odjave,broj_odraslih_gostiju,broj_djece_gostiju,kanal_prodaje_id,tip_sobe_id,cijena_nocenja,rezervacija_id,gost_id
count,119210.000000,119210,119210,119210,119210.000000,119210.000000,119210.000000,119210.000000,119210.000000,1.192100e+05,1.192100e+05
mean,0.664063,2016-09-18 04:45:19.825518080,2016-06-06 09:30:00.513379584,2016-09-21 14:59:07.635265792,1.859206,0.112004,1.702357,1.503179,123.182994,1.372828e+06,1.053647e+06
min,0.000000,2015-01-01 00:00:00,2013-06-25 00:00:00,2015-01-03 00:00:00,0.000000,0.000000,0.000000,0.000000,40.003037,1.313223e+06,1.000000e+06
25%,0.000000,2016-02-29 00:00:00,2015-11-30 00:00:00,2016-03-03 00:00:00,2.000000,0.000000,2.000000,1.000000,80.917473,1.343025e+06,1.026866e+06
50%,1.000000,2016-10-08 00:00:00,2016-06-24 00:00:00,2016-10-11 00:00:00,2.000000,0.000000,2.000000,1.000000,109.455175,1.372828e+06,1.053626e+06
75%,1.000000,2017-03-15 00:00:00,2016-12-27 00:00:00,2017-03-19 00:00:00,2.000000,0.000000,2.000000,2.000000,146.425535,1.402630e+06,1.080427e+06
max,1.000000,2017-12-31 00:00:00,2017-12-31 00:00:00,2018-01-14 00:00:00,55.000000,10.000000,4.000000,8.000000,7351.295691,1.432432e+06,1.107288e+06
std,0.472319,NaN,NaN,NaN,0.575186,0.412849,0.681164,1.125512,65.494762,3.441311e+04,3.095049e+04