# Provjera i brisanja krivih podataka

# Import potrebnih library-a i pronalazak lokacije dataseta

In [18]:
import os, sys
import pandas as pd
curr = os.getcwd()
parr = os.path.dirname(curr)
parr += '/data_process/processed.parquet'
print(parr)

/home/matijak/Documents/lumen/data_process/processed.parquet

# Otvaramo dataset sa dohvacene lokacije

In [20]:
df = pd.read_parquet(parr)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 12.3+ MB

# Brisanje podataka kojima je datum dolaska prije datuma kreiranja.

In [21]:
df = df[df["datum_dolaska"] >= df["datum_kreiranja_rezervacije"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 12.3+ MB

# Brisanje greska kada je datum kreiranja poslije datuma brisanja rezervacije

In [24]:
df = df[ (df["datum_kreiranja_rezervacije"] <= df["datum_otkazivanja_rezervacije"] ) | (df["datum_otkazivanja_rezervacije"] != '') ]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96763 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96763 non-null  int32
 1   datum_dolaska                  96763 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96763 non-null  datetime64[ns]
 3   datum_odjave                   96763 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21752 non-null  object
 5   broj_odraslih_gostiju          96763 non-null  int64
 6   broj_djece_gostiju             96763 non-null  float64
 7   zemlja_gosta                   96763 non-null  object
 8   kanal_prodaje_id               96763 non-null  int32
 9   tip_sobe_id                    96763 non-null  int32
 10  cijena_nocenja                 96763 non-null  float64
 11  status_rezervacije             96763 non-null  object
 12  rezervacija_id                 96763 non-null  int32
 13  gost_id                        96763 non-null  int32
 14  broj_nocenja                   96763 non-null  float64
 15  ukupno_placeno                 96763 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 10.7+ MB

# Brisanje podataka gdje je broj odraslih 0

In [25]:
df = df[df["broj_odraslih_gostiju"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96592 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96592 non-null  int32
 1   datum_dolaska                  96592 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96592 non-null  datetime64[ns]
 3   datum_odjave                   96592 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21720 non-null  object
 5   broj_odraslih_gostiju          96592 non-null  int64
 6   broj_djece_gostiju             96592 non-null  float64
 7   zemlja_gosta                   96592 non-null  object
 8   kanal_prodaje_id               96592 non-null  int32
 9   tip_sobe_id                    96592 non-null  int32
 10  cijena_nocenja                 96592 non-null  float64
 11  status_rezervacije             96592 non-null  object
 12  rezervacija_id                 96592 non-null  int32
 13  gost_id                        96592 non-null  int32
 14  broj_nocenja                   96592 non-null  float64
 15  ukupno_placeno                 96592 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 10.7+ MB

Brisanje podataka gdje je cijena nocenja 0 (nista nije izbaceno)

In [27]:
df = df[df["cijena_nocenja"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96592 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96592 non-null  int32
 1   datum_dolaska                  96592 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96592 non-null  datetime64[ns]
 3   datum_odjave                   96592 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21720 non-null  object
 5   broj_odraslih_gostiju          96592 non-null  int64
 6   broj_djece_gostiju             96592 non-null  float64
 7   zemlja_gosta                   96592 non-null  object
 8   kanal_prodaje_id               96592 non-null  int32
 9   tip_sobe_id                    96592 non-null  int32
 10  cijena_nocenja                 96592 non-null  float64
 11  status_rezervacije             96592 non-null  object
 12  rezervacija_id                 96592 non-null  int32
 13  gost_id                        96592 non-null  int32
 14  broj_nocenja                   96592 non-null  float64
 15  ukupno_placeno                 96592 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 10.7+ MB

Brisanje onih kojima je datum odjave prije datuma dolaska(nista nije izbaceno)

In [28]:
df = df[df["datum_dolaska"] <= df["datum_odjave"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96592 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96592 non-null  int32
 1   datum_dolaska                  96592 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96592 non-null  datetime64[ns]
 3   datum_odjave                   96592 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21720 non-null  object
 5   broj_odraslih_gostiju          96592 non-null  int64
 6   broj_djece_gostiju             96592 non-null  float64
 7   zemlja_gosta                   96592 non-null  object
 8   kanal_prodaje_id               96592 non-null  int32
 9   tip_sobe_id                    96592 non-null  int32
 10  cijena_nocenja                 96592 non-null  float64
 11  status_rezervacije             96592 non-null  object
 12  rezervacija_id                 96592 non-null  int32
 13  gost_id                        96592 non-null  int32
 14  broj_nocenja                   96592 non-null  float64
 15  ukupno_placeno                 96592 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 10.7+ MB

# Brisanje onih kojima je datum otkazivanja nakon datuma odjave

In [33]:
df = df[ (df["datum_otkazivanja_rezervacije"] < df["datum_odjave"]) | (df["datum_otkazivanja_rezervacije"] != '')  ]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19722 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       19722 non-null  int32
 1   datum_dolaska                  19722 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    19722 non-null  datetime64[ns]
 3   datum_odjave                   19722 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  19722 non-null  object
 5   broj_odraslih_gostiju          19722 non-null  int64
 6   broj_djece_gostiju             19722 non-null  float64
 7   zemlja_gosta                   19722 non-null  object
 8   kanal_prodaje_id               19722 non-null  int32
 9   tip_sobe_id                    19722 non-null  int32
 10  cijena_nocenja                 19722 non-null  float64
 11  status_rezervacije             19722 non-null  object
 12  rezervacija_id                 19722 non-null  int32
 13  gost_id                        19722 non-null  int32
 14  broj_nocenja                   19722 non-null  float64
 15  ukupno_placeno                 19722 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.2+ MB

# Micanje onih sa neispravnim drzavama

In [34]:
a = set(df["zemlja_gosta"])
print(a)
#jedina neispravna je 0
df = df[df["zemlja_gosta"] != '0']
df.info()

{'PRT', 'NGA', 'BGR', 'NZL', 'GGY', 'ROU', 'CHL', 'MOZ', 'FIN', 'MAR', 'SGP', 'BHR', 'IDN', 'KOR', 'OMN', 'USA', 'GHA', 'AUS', 'GBR', 'AUT', 'CPV', 'NOR', 'UKR', 'TUN', 'ZAF', 'NLD', 'JPN', 'LBN', 'SRB', 'URY', 'THA', 'BLR', 'EGY', 'FRO', 'SEN', 'IRN', 'ITA', 'VGB', 'KHM', 'GIB', 'HUN', 'FJI', 'CRI', 'SVK', 'ARE', 'LVA', 'SAU', 'CHE', 'MYS', 'IRL', 'AND', 'MDV', 'ESP', 'AGO', 'ARG', 'COL', 'GAB', 'CYP', 'KWT', 'CZE', 'BGD', 'TJK', 'KEN', 'ISL', 'BEN', 'JEY', 'POL', 'MAC', 'LTU', 'TMP', 'AZE', 'HRV', 'QAT', 'UZB', 'PER', 'ECU', 'BIH', 'IND', 'GNB', 'FRA', 'BRA', 'PHL', 'DOM', 'TWN', 'ARM', 'JOR', 'CN', 'ALB', 'CIV', 'GRC', 'EST', 'BEL', 'DNK', 'RUS', 'DEU', 'SWE', 'TUR', 'GEO', 'MEX', 'LUX', 'DZA', 'SVN', 'ZWE', 'VEN', 'KAZ', 'GLP', 'PRI', 'HKG', 'SYC', 'MKD', 'CHN', 'PAK', 'ISR'}
<class 'pandas.core.frame.DataFrame'>
Index: 19722 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       19722 non-null  int32
 1   datum_dolaska                  19722 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    19722 non-null  datetime64[ns]
 3   datum_odjave                   19722 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  19722 non-null  object
 5   broj_odraslih_gostiju          19722 non-null  int64
 6   broj_djece_gostiju             19722 non-null  float64
 7   zemlja_gosta                   19722 non-null  object
 8   kanal_prodaje_id               19722 non-null  int32
 9   tip_sobe_id                    19722 non-null  int32
 10  cijena_nocenja                 19722 non-null  float64
 11  status_rezervacije             19722 non-null  object
 12  rezervacija_id                 19722 non-null  int32
 13  gost_id                        19722 non-null  int32
 14  broj_nocenja                   19722 non-null  float64
 15  ukupno_placeno                 19722 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.2+ MB

# Spremanje ociscenih podataka u datoteku

In [35]:
df.to_csv('cleaned_data.csv')