# Provjera i brisanja krivih podataka

# Import potrebnih library-a i pronalazak lokacije dataseta

In [2]:
import os, sys
import pandas as pd
curr = os.getcwd()
parr = os.path.dirname(curr)
parr += '/data_process/processed.parquet'
print(parr)

/home/matijak/Documents/programiranje/lumen/data_process/processed.parquet

# Otvaramo dataset sa dohvacene lokacije

In [3]:
df = pd.read_parquet(parr)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 12.3+ MB

Pretvraranje stupca datuma otkazivanja u datetime

In [4]:
df['datum_otkazivanja_rezervacije'] = pd.to_datetime(df['datum_otkazivanja_rezervacije'], errors='coerce')

# Brisanje podataka kojima je datum dolaska prije datuma kreiranja.

In [5]:
df = df[df["datum_dolaska"] >= df["datum_kreiranja_rezervacije"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   datetime64[ns]
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 12.3+ MB

# Brisanje greska kada je datum kreiranja poslije datuma brisanja rezervacije

In [6]:
df = df[ (df["datum_kreiranja_rezervacije"] <= df["datum_otkazivanja_rezervacije"] ) | (df["datum_otkazivanja_rezervacije"].isna()) ]
a = set(df["datum_otkazivanja_rezervacije"])
df.info()
#print(a)

<class 'pandas.core.frame.DataFrame'>
Index: 96589 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96589 non-null  int32
 1   datum_dolaska                  96589 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96589 non-null  datetime64[ns]
 3   datum_odjave                   96589 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21578 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          96589 non-null  int64
 6   broj_djece_gostiju             96589 non-null  float64
 7   zemlja_gosta                   96589 non-null  object
 8   kanal_prodaje_id               96589 non-null  int32
 9   tip_sobe_id                    96589 non-null  int32
 10  cijena_nocenja                 96589 non-null  float64
 11  status_rezervacije             96589 non-null  object
 12  rezervacija_id                 96589 non-null  int32
 13  gost_id                        96589 non-null  int32
 14  broj_nocenja                   96589 non-null  float64
 15  ukupno_placeno                 96589 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.7+ MB

# Brisanje podataka gdje je broj odraslih 0

In [7]:
df = df[df["broj_odraslih_gostiju"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96418 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96418 non-null  int32
 1   datum_dolaska                  96418 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96418 non-null  datetime64[ns]
 3   datum_odjave                   96418 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          96418 non-null  int64
 6   broj_djece_gostiju             96418 non-null  float64
 7   zemlja_gosta                   96418 non-null  object
 8   kanal_prodaje_id               96418 non-null  int32
 9   tip_sobe_id                    96418 non-null  int32
 10  cijena_nocenja                 96418 non-null  float64
 11  status_rezervacije             96418 non-null  object
 12  rezervacija_id                 96418 non-null  int32
 13  gost_id                        96418 non-null  int32
 14  broj_nocenja                   96418 non-null  float64
 15  ukupno_placeno                 96418 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.7+ MB

Brisanje podataka gdje je cijena nocenja 0 (nista nije izbaceno)

In [8]:
df = df[df["cijena_nocenja"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96418 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96418 non-null  int32
 1   datum_dolaska                  96418 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96418 non-null  datetime64[ns]
 3   datum_odjave                   96418 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          96418 non-null  int64
 6   broj_djece_gostiju             96418 non-null  float64
 7   zemlja_gosta                   96418 non-null  object
 8   kanal_prodaje_id               96418 non-null  int32
 9   tip_sobe_id                    96418 non-null  int32
 10  cijena_nocenja                 96418 non-null  float64
 11  status_rezervacije             96418 non-null  object
 12  rezervacija_id                 96418 non-null  int32
 13  gost_id                        96418 non-null  int32
 14  broj_nocenja                   96418 non-null  float64
 15  ukupno_placeno                 96418 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.7+ MB

Brisanje onih kojima je datum odjave prije datuma dolaska(nista nije izbaceno)

In [9]:
df = df[df["datum_dolaska"] <= df["datum_odjave"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96418 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       96418 non-null  int32
 1   datum_dolaska                  96418 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    96418 non-null  datetime64[ns]
 3   datum_odjave                   96418 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          96418 non-null  int64
 6   broj_djece_gostiju             96418 non-null  float64
 7   zemlja_gosta                   96418 non-null  object
 8   kanal_prodaje_id               96418 non-null  int32
 9   tip_sobe_id                    96418 non-null  int32
 10  cijena_nocenja                 96418 non-null  float64
 11  status_rezervacije             96418 non-null  object
 12  rezervacija_id                 96418 non-null  int32
 13  gost_id                        96418 non-null  int32
 14  broj_nocenja                   96418 non-null  float64
 15  ukupno_placeno                 96418 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.7+ MB

# Brisanje onih kojima je datum otkazivanja nakon datuma odjave

In [10]:
df = df[ (df["datum_otkazivanja_rezervacije"] < df["datum_odjave"]) | (df["datum_otkazivanja_rezervacije"].isna())  ]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94478 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       94478 non-null  int32
 1   datum_dolaska                  94478 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    94478 non-null  datetime64[ns]
 3   datum_odjave                   94478 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  19606 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          94478 non-null  int64
 6   broj_djece_gostiju             94478 non-null  float64
 7   zemlja_gosta                   94478 non-null  object
 8   kanal_prodaje_id               94478 non-null  int32
 9   tip_sobe_id                    94478 non-null  int32
 10  cijena_nocenja                 94478 non-null  float64
 11  status_rezervacije             94478 non-null  object
 12  rezervacija_id                 94478 non-null  int32
 13  gost_id                        94478 non-null  int32
 14  broj_nocenja                   94478 non-null  float64
 15  ukupno_placeno                 94478 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.5+ MB

# Micanje onih sa neispravnim drzavama

In [11]:
a = set(df["zemlja_gosta"])
print(a)
#jedina neispravna je 0
df = df[df["zemlja_gosta"] != '0']
df.info()

{'PLW', 'BEL', 'PAK', 'ZMB', 'AZE', 'PHL', 'IRN', 'ISL', 'MLT', 'KWT', 'FJI', 'SVK', 'DZA', 'GLP', 'ATF', 'UZB', 'MDG', 'SAU', 'KIR', 'MNE', 'CMR', 'FRA', 'ETH', 'PYF', 'ROU', 'AUS', 'BIH', 'GBR', 'VGB', 'CYP', 'CN', 'CIV', 'DEU', 'CHL', 'LVA', 'POL', 'AUT', 'CAF', 'COL', 'UGA', 'LTU', 'ARG', 'KEN', 'ECU', 'JAM', 'CYM', 'KNA', 'BGD', 'GHA', 'TUN', 'EGY', 'URY', 'BEN', 'MCO', 'ZWE', 'MYS', 'QAT', 'ARM', 'RWA', 'HKG', 'GIB', 'SEN', 'SWE', 'VEN', 'TMP', 'GTM', 'VNM', 'HRV', 'LBY', 'KAZ', 'SLV', 'GUY', 'FRO', 'PRI', 'ISR', 'IND', 'AGO', 'DJI', 'LCA', 'LBN', 'BRA', 'LIE', 'LAO', 'PER', 'PRY', 'DOM', 'IRQ', 'NPL', 'TJK', 'BOL', 'CUB', 'TWN', 'GRC', 'LUX', 'COM', 'PAN', 'ARE', 'GAB', 'SMR', 'TZA', 'IDN', 'GEO', 'FIN', 'KOR', 'SGP', 'HUN', 'LKA', 'NLD', 'SYR', 'PRT', 'SYC', 'BRB', 'JPN', 'JOR', 'MDV', 'BGR', 'DNK', 'THA', 'GGY', 'BWA', 'TGO', 'ALB', 'NOR', 'NZL', 'KHM', 'SUR', 'BHR', 'NGA', '0', 'MRT', 'MOZ', 'CZE', 'MWI', 'ESP', 'SDN', 'MLI', 'BLR', 'CPV', 'TUR', 'IRL', 'MAC', 'GNB', 'NAM', 'DMA', 'CHN', 'BDI', 'MAR', 'SVN', 'ABW', 'MKD', 'CRI', 'RUS', 'MUS', 'AND', 'JEY', 'EST', 'ASM', 'OMN', 'STP', 'MEX', 'USA', 'UKR', 'CHE', 'ZAF', 'ITA', 'ATA', 'SRB', 'MMR'}
<class 'pandas.core.frame.DataFrame'>
Index: 93962 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       93962 non-null  int32
 1   datum_dolaska                  93962 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    93962 non-null  datetime64[ns]
 3   datum_odjave                   93962 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  19548 non-null  datetime64[ns]
 5   broj_odraslih_gostiju          93962 non-null  int64
 6   broj_djece_gostiju             93962 non-null  float64
 7   zemlja_gosta                   93962 non-null  object
 8   kanal_prodaje_id               93962 non-null  int32
 9   tip_sobe_id                    93962 non-null  int32
 10  cijena_nocenja                 93962 non-null  float64
 11  status_rezervacije             93962 non-null  object
 12  rezervacija_id                 93962 non-null  int32
 13  gost_id                        93962 non-null  int32
 14  broj_nocenja                   93962 non-null  float64
 15  ukupno_placeno                 93962 non-null  float64
dtypes: datetime64[ns](4), float64(4), int32(5), int64(1), object(2)
memory usage: 10.4+ MB

# Provjera stausa rezervacije

In [13]:
 a = set(df["status_rezervacije"])
print(a)
df.describe()

{'Check-Out', 'No-Show', 'Canceled'}

,hotel_id,datum_dolaska,datum_kreiranja_rezervacije,datum_odjave,datum_otkazivanja_rezervacije,broj_odraslih_gostiju,broj_djece_gostiju,kanal_prodaje_id,tip_sobe_id,cijena_nocenja,rezervacija_id,gost_id,broj_nocenja,ukupno_placeno
count,93962.000000,93962,93962,93962,19548,93962.000000,93962.000000,93962.000000,93962.000000,93962.000000,9.396200e+04,9.396200e+04,93962.000000,93962.000000
mean,0.628967,2016-09-08 00:57:54.868563712,2016-05-15 09:06:50.336093184,2016-09-11 11:12:41.439730944,2016-06-24 20:18:20.552486144,1.849907,0.113737,1.655563,1.524361,122.887893,1.374848e+06,1.053752e+06,3.433516,431.015926
min,0.000000,2015-01-01 00:00:00,2013-10-10 00:00:00,2015-01-03 00:00:00,2014-10-17 00:00:00,1.000000,0.000000,0.000000,0.000000,40.003037,1.313223e+06,1.000000e+06,1.000000,40.003037
25%,0.000000,2016-02-22 00:00:00,2015-11-13 00:00:00,2016-02-25 00:00:00,2015-12-28 18:00:00,2.000000,0.000000,2.000000,1.000000,81.000000,1.341888e+06,1.027046e+06,2.000000,169.888247
50%,1.000000,2016-09-26 00:00:00,2016-05-21 00:00:00,2016-09-29 00:00:00,2016-06-28 00:00:00,2.000000,0.000000,2.000000,1.000000,109.029867,1.373586e+06,1.053762e+06,3.000000,304.685098
75%,1.000000,2017-03-01 00:00:00,2016-12-10 00:00:00,2017-03-05 00:00:00,2017-01-17 00:00:00,2.000000,0.000000,2.000000,2.000000,145.218303,1.408853e+06,1.080558e+06,4.000000,530.385814
max,1.000000,2017-12-31 00:00:00,2017-12-31 00:00:00,2018-01-14 00:00:00,2017-08-31 00:00:00,26.000000,10.000000,4.000000,8.000000,765.832355,1.432432e+06,1.107288e+06,56.000000,7978.278811
std,0.483084,NaN,NaN,NaN,NaN,0.505378,0.413343,0.723063,1.122193,62.287915,3.653554e+04,3.094654e+04,2.540579,429.045006

# Spremanje ociscenih podataka u datoteku

In [35]:
df.to_csv('cleaned_data.csv')