# Provjera i brisanja krivih podataka

# Import potrebnih library-a i pronalazak lokacije dataseta

In [2]:
import os, sys
import pandas as pd
curr = os.getcwd()
parr = os.path.dirname(curr)
parr += '/data_process/processed.parquet'
print(parr)

/home/matijak/Documents/lumen/data_process/processed.parquet

# Otvaramo dataset sa dohvacene lokacije

In [3]:
df = pd.read_parquet(parr)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 12.3+ MB

# Brisanje podataka kojima je datum dolaska prije datuma kreiranja.

In [4]:
df = df[df["datum_dolaska"] >= df["datum_kreiranja_rezervacije"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
 14  broj_nocenja                   119210 non-null  float64
 15  ukupno_placeno                 119210 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 12.3+ MB

# Brisanje greska kada je datum kreiranja poslije datuma brisanja rezervacije

In [5]:
df = df[df["datum_kreiranja_rezervacije"] <= df["datum_otkazivanja_rezervacije"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21578 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       21578 non-null  int32
 1   datum_dolaska                  21578 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    21578 non-null  datetime64[ns]
 3   datum_odjave                   21578 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21578 non-null  object
 5   broj_odraslih_gostiju          21578 non-null  int64
 6   broj_djece_gostiju             21578 non-null  float64
 7   zemlja_gosta                   21578 non-null  object
 8   kanal_prodaje_id               21578 non-null  int32
 9   tip_sobe_id                    21578 non-null  int32
 10  cijena_nocenja                 21578 non-null  float64
 11  status_rezervacije             21578 non-null  object
 12  rezervacija_id                 21578 non-null  int32
 13  gost_id                        21578 non-null  int32
 14  broj_nocenja                   21578 non-null  float64
 15  ukupno_placeno                 21578 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.4+ MB

# Brisanje podataka gdje je broj odraslih 0

In [6]:
df = df[df["broj_odraslih_gostiju"] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21546 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       21546 non-null  int32
 1   datum_dolaska                  21546 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    21546 non-null  datetime64[ns]
 3   datum_odjave                   21546 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  object
 5   broj_odraslih_gostiju          21546 non-null  int64
 6   broj_djece_gostiju             21546 non-null  float64
 7   zemlja_gosta                   21546 non-null  object
 8   kanal_prodaje_id               21546 non-null  int32
 9   tip_sobe_id                    21546 non-null  int32
 10  cijena_nocenja                 21546 non-null  float64
 11  status_rezervacije             21546 non-null  object
 12  rezervacija_id                 21546 non-null  int32
 13  gost_id                        21546 non-null  int32
 14  broj_nocenja                   21546 non-null  float64
 15  ukupno_placeno                 21546 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.4+ MB

Brisanje podataka gdje je cijena nocenja 0 (nista nije izbaceno)

In [7]:
bez_0 = df[df["cijena_nocenja"] > 0]
bez_0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21546 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       21546 non-null  int32
 1   datum_dolaska                  21546 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    21546 non-null  datetime64[ns]
 3   datum_odjave                   21546 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  object
 5   broj_odraslih_gostiju          21546 non-null  int64
 6   broj_djece_gostiju             21546 non-null  float64
 7   zemlja_gosta                   21546 non-null  object
 8   kanal_prodaje_id               21546 non-null  int32
 9   tip_sobe_id                    21546 non-null  int32
 10  cijena_nocenja                 21546 non-null  float64
 11  status_rezervacije             21546 non-null  object
 12  rezervacija_id                 21546 non-null  int32
 13  gost_id                        21546 non-null  int32
 14  broj_nocenja                   21546 non-null  float64
 15  ukupno_placeno                 21546 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.4+ MB

Brisanje onih kojima je datum odjave prije datuma dolaska(nista nije izbaceno)

In [8]:
df = df[df["datum_dolaska"] <= df["datum_odjave"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21546 entries, 10 to 117115
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   hotel_id                       21546 non-null  int32
 1   datum_dolaska                  21546 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    21546 non-null  datetime64[ns]
 3   datum_odjave                   21546 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  21546 non-null  object
 5   broj_odraslih_gostiju          21546 non-null  int64
 6   broj_djece_gostiju             21546 non-null  float64
 7   zemlja_gosta                   21546 non-null  object
 8   kanal_prodaje_id               21546 non-null  int32
 9   tip_sobe_id                    21546 non-null  int32
 10  cijena_nocenja                 21546 non-null  float64
 11  status_rezervacije             21546 non-null  object
 12  rezervacija_id                 21546 non-null  int32
 13  gost_id                        21546 non-null  int32
 14  broj_nocenja                   21546 non-null  float64
 15  ukupno_placeno                 21546 non-null  float64
dtypes: datetime64[ns](3), float64(4), int32(5), int64(1), object(3)
memory usage: 2.4+ MB

# Spremanje ociscenih podataka u datoteku

In [9]:
df.to_csv('cleaned_data.csv')