# Provjera i čišćenje train dataset-a

In [2]:
import os, sys
import pandas as pd
curr = os.getcwd()
file = os.path.dirname(curr)
file += '/data_process/train_processed.parquet'

In [4]:
df = pd.read_parquet(file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31634 entries, 0 to 31633
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reservation_id      31634 non-null  int64
 1   stay_date           31634 non-null  datetime64[ns]
 2   guest_id            31634 non-null  int64
 3   guest_country_id    31634 non-null  object
 4   reservation_status  31634 non-null  object
 5   reservation_date    31634 non-null  datetime64[ns]
 6   date_from           31634 non-null  datetime64[ns]
 7   date_to             31634 non-null  datetime64[ns]
 8   resort_id           31634 non-null  int64
 9   cancel_date         6151 non-null   object
 10  room_cnt            31634 non-null  int64
 11  adult_cnt           31634 non-null  int64
 12  children_cnt        31634 non-null  int64
 13  price               27860 non-null  float64
 14  price_tax           27860 non-null  float64
 15  total_price_tax     28076 non-null  float64
 16  total_price         28076 non-null  float64
 17  food_price          27860 non-null  float64
 18  food_price_tax      27860 non-null  float64
 19  other_price         27860 non-null  float64
 20  other_price_tax     27860 non-null  float64
 21  room_category_id    31634 non-null  int64
 22  sales_channel_id    31634 non-null  float64
 23  stay_nights         31634 non-null  float64
 24  price_per_night     27860 non-null  float64
dtypes: datetime64[ns](4), float64(11), int64(7), object(3)
memory usage: 6.0+ MB

## Brisanje podataka kojima je datum dolaska prije datuma kreiranja rezervacija

In [5]:
df = df[df["date_from"] >= df["reservation_date"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31147 entries, 0 to 31633
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reservation_id      31147 non-null  int64
 1   stay_date           31147 non-null  datetime64[ns]
 2   guest_id            31147 non-null  int64
 3   guest_country_id    31147 non-null  object
 4   reservation_status  31147 non-null  object
 5   reservation_date    31147 non-null  datetime64[ns]
 6   date_from           31147 non-null  datetime64[ns]
 7   date_to             31147 non-null  datetime64[ns]
 8   resort_id           31147 non-null  int64
 9   cancel_date         6040 non-null   object
 10  room_cnt            31147 non-null  int64
 11  adult_cnt           31147 non-null  int64
 12  children_cnt        31147 non-null  int64
 13  price               27383 non-null  float64
 14  price_tax           27383 non-null  float64
 15  total_price_tax     27598 non-null  float64
 16  total_price         27598 non-null  float64
 17  food_price          27383 non-null  float64
 18  food_price_tax      27383 non-null  float64
 19  other_price         27383 non-null  float64
 20  other_price_tax     27383 non-null  float64
 21  room_category_id    31147 non-null  int64
 22  sales_channel_id    31147 non-null  float64
 23  stay_nights         31147 non-null  float64
 24  price_per_night     27383 non-null  float64
dtypes: datetime64[ns](4), float64(11), int64(7), object(3)
memory usage: 6.2+ MB

## Brisanje greska kada je datum kreiranja poslije datuma brisanja rezervacije

In [12]:
df = df[(df["cancel_date"].isnull()) | (df["reservation_date"] <= df["cancel_date"])]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6040 entries, 3 to 31632
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reservation_id      6040 non-null   int64
 1   stay_date           6040 non-null   datetime64[ns]
 2   guest_id            6040 non-null   int64
 3   guest_country_id    6040 non-null   object
 4   reservation_status  6040 non-null   object
 5   reservation_date    6040 non-null   datetime64[ns]
 6   date_from           6040 non-null   datetime64[ns]
 7   date_to             6040 non-null   datetime64[ns]
 8   resort_id           6040 non-null   int64
 9   cancel_date         6040 non-null   object
 10  room_cnt            6040 non-null   int64
 11  adult_cnt           6040 non-null   int64
 12  children_cnt        6040 non-null   int64
 13  price               2391 non-null   float64
 14  price_tax           2391 non-null   float64
 15  total_price_tax     2491 non-null   float64
 16  total_price         2491 non-null   float64
 17  food_price          2391 non-null   float64
 18  food_price_tax      2391 non-null   float64
 19  other_price         2391 non-null   float64
 20  other_price_tax     2391 non-null   float64
 21  room_category_id    6040 non-null   int64
 22  sales_channel_id    6040 non-null   float64
 23  stay_nights         6040 non-null   float64
 24  price_per_night     2391 non-null   float64
dtypes: datetime64[ns](4), float64(11), int64(7), object(3)
memory usage: 1.2+ MB